<template>
    <div>
        <h1>Start Quiz</h1>
        <p>Welcome to your Start Quiz</p>

        <!--<p v-if="questions.length">
            <ul v-for="item in questions">
                <li>
                    {{ item.questionBody }} <br/>
                    <input type="radio" :id="item.id+'opt1'" name="item.answerId"> <label for="">{{ item.answerOption1 }}</label></input>
                    <input type="radio" :id="item.id" name="item.answerId"> <label for="">{{ item.answerOption2 }}</label></input>
                    <input type="radio" :id="item.id" vname="item.answerId"> <label for="">{{ item.answerOption3 }}</label></input>
                    <input type="radio" :id="item.id" name="item.answerId"> <label for="">{{ item.answerOption4 }}</label></input>
                </li>
            </ul>
        </p>
        <p v-else><em>Loading...</em></p>-->
        <span>{{currentQuestion.questionBody}}</span><br/>
        <input type="radio" :id="currentQuestion.id+'opt1'" name="currentQuestion.answerId"> <label for="">{{ currentQuestion.answerOption1 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt2'" name="currentQuestion.answerId"> <label for="">{{ currentQuestion.answerOption2 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt3'" name="currentQuestion.answerId"> <label for="">{{ currentQuestion.answerOption3 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt4'" name="currentQuestion.answerId"> <label for="">{{ currentQuestion.answerOption4 }}</label></input>

    </div>
</template>

<script src="./home.ts"></script>
