<template>
    <div>
       
        <label>{{currentQuestion.questionBody}}</label><br />
        <input type="radio" :id="currentQuestion.id+'opt1'" name="currentQuestion.answerId"> <label :for="currentQuestion.id+'opt1'">{{ currentQuestion.answerOption1 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt2'" name="currentQuestion.answerId"> <label :for="currentQuestion.id+'opt2'">{{ currentQuestion.answerOption2 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt3'" name="currentQuestion.answerId"> <label :for="currentQuestion.id+'opt3'">{{ currentQuestion.answerOption3 }}</label></input>
        <input type="radio" :id="currentQuestion.id+'opt4'" name="currentQuestion.answerId"> <label :for="currentQuestion.id+'opt4'">{{ currentQuestion.answerOption4 }}</label></input>
        <br><br />
        <input type="button" class="" value="Next" />
        <span> {{ currentQuestion.propObj.content }}</span>
    </div>
</template>
<script src="./questionandoptions.ts"></script>