<template>
    <div id='app-root' class="container-fluid">
        <div class="row">
                <div class="col-sm-3" v-if="show">
                <menu-component/>
                </div>
                <div v-bind:class="{'col-sm-9': show, 'col-sm-12': !show}">
                    <button v-if="show" type="button" class="hideMenuButton" v-on:click="show = !show">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button v-if="!show"  type="button" class="showMenuButton" v-on:click="show = !show">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <router-view></router-view>
                </div>
         </div>
    </div>
</template>

<script src="./app.ts"></script>
<style>
     
</style>